:root{
    --primary-color: hsl(199, 100%, 33%);
    --secondary-color: hsl(187, 89%, 17%);
    --gradient-btn: linear-gradient(to right, hsl(187 ,85% , 43%) , hsl(199 , 100% , 33%));
    --white-color: #fff;
    --black-color: #000;
    --text-color: #666;
    --whiteColorDeam: hsl(0, 0%, 93%);
    --gray-color: rgd(190,190,190);
    --input-color: rgb(239 , 239 , 239);
    --body-color:rgb(240 , 240 ,246);
    --cardBG: rgb(225, 225, 235);
}

.header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--whiteColorDeam);
    width: 100%;
    padding: 1rem;
    z-index: 1000;
}
.loge {
    color :var(--black-color);
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    .icon{
        font-size: 25px;
        color: var(--primary-color);
        transform: translateY(5px);
    }
}

@media screen and (max-width :768px) {
    .navbar{
        position: absolute;
        background: var(--whiteColorDeam);
        height: 80%;
        border-radius: 1rem;
        top : -500rem;
        left: 50%;
        padding: 1rem;
        transform: translate(-50%);
        z-index: 2000;
        box-shadow: 0 2px 4px rgb(2,15,29,0.904);
        transform: .1s ease-in-out;

        .navLists{
            flex-direction: column;
            justify-content: center;
            width: 100%;
            margin: auto;
            padding: .5rem 0;
             
            .navItem{
                color: var(--text-color);
                font-size: .9rem;
                font-weight: 600;
                &:hover{
                    color: var(--primary-color);
                }
            }
        }
        .btn{
            margin-top: 1rem;

            a{
                font-weight: 600;
                color: var(--white-color);
            }
        }
        .closeNavber{
            position: absolute;
            top: 1rem;
            right: 1.5rem;
            color: var(--primary-color);
            &:hover{
                color: var(--secondary-color);
            }
        }
    }
    .activeNavbar{
        top: 7rem; ;
    }
    
}

.toggleNavbar{
    .icon{
        font-size: 25px;
        color: var(--primary-color);
        
    }
    &:hover.icon{
        color: var(--secondary-color) ;
        transform: translateY(50%);

    }
}

